.mainWrapper{
	background: white;
	padding: 0px;
}
.topBar{
   	background: #d70026;
    box-shadow: 0px 0px 4px 2px #9e9e9e;
    width: 100%;
    height: 60px;
}

ul{
	padding: 0px;
}
li:first-child{
	margin-top:15px;
}
li{
	list-style: none;
    padding-bottom: 15px;
    color: #6d6d6d;
    cursor: pointer;
    margin-left: 18px;
    position: relative;
}
li:hover{
	color:#d70026;
}
li.active{
	color:#d70026;
	font-weight: bold;
}
/*li a{
	color:#6d6d6d;
}*/
li.active:before{
	content: "";
    width: 3px;
    height: 27px;
    background: #d70026;
    position: absolute;
    left: -17px;
    top: -4px;
}
.leftPanel{
	box-shadow: 2px 1px 1px 0px #c7c7c7;
	padding: 0px;
}
.userDetails{
	height: 180px;
    background: #d9d9d9;
    text-align: center;
    position: relative;
}
.userImage{
	width: 70px;
    height: 70px;
    background: #d70026;
    border-radius: 50%;
    display: inline-block;
    margin-top: 30px;
}
.userName{

}
.userJob{

}
.Ham-navbar-toggle{
	position: relative;
    padding: 9px 0px;
    margin-top: 8px;
    background: transparent;
    border: none;
}
.Ham-navbar-toggle .icon-bar{
	display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background: white;
    margin-top: 5px;
}
.logout{	
    color: white;
    float: right;
    padding: 9px 0px;
    margin-top: 8px;
}
#vendorFormTopBar{
	background: white;
    padding: 13px 5px;
    box-shadow: 0px 2px 1px 0px #c7c7c7;
    margin-bottom: 10px;
}
#rightPanel{
	/*padding: 0px;*/
}
#personalDetails{
	padding: 10px;
    background: #ffcdd2;
    color: white;
    border-radius: 5px;
    margin-bottom: 8px;
}
.frm1{
	box-shadow: 0px 0px 6px 0px #c7c7c7;
    padding: 5px 12px;
    margin-bottom: 10px;
}
.dropdown select{
	width:100%;
}
.selectProduct{
	height: 86px;
    cursor: pointer;
    overflow-y: scroll;
}
#myModal{
	padding-top: 40px;
	top: 48px;
	transition: top 1s linear;
}
.modal-dialog{
	width: 80%;
}
.prolistItem{
	padding: 0px;
}
.modal-body {   
     padding: 15px; 
    height: 290px;
}
.categoryTitle{
	    border: 1px dotted;
    background: #f7f7f7;
    padding: 0px 8px;
}
.itmBorder{
    padding: 2px;
    border: 1px solid gray;
    display: inline-block;
    margin: 5px;
}
.closeBtn{
    color: white;
    background: red;
    border-radius: 50%;
    padding: 2px;
    position: relative;
    right: -3px;
    top: -10px;
}